.heading{
    text-align: center;
}

.info-content{
    clear: both;
    width: 98vw;
    float: right;
    background: #FFEF00;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 30px;
}

.info-content1{
    clear: both;
    width: 98vw;
    float: left;
    background: #FFEF00;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 30px;
}

.info-content p{
    margin-left:100px;
    letter-spacing: 2px;
}

.info-content1 p{
    margin-left:130px;
    letter-spacing: 2px;
}

.content span{
    font-weight: 700;
}

@media screen and (max-width:1024px){
    .info-content1 p{
        margin-left:120px;
        letter-spacing: 2px;
    }
}

@media screen and (max-width:768px){
    .info-content p{
        margin-left:50px;
        letter-spacing: 2px;
    }
    
    .info-content1 p{
        margin-left:70px;
        letter-spacing: 2px;
    }
    
}

@media screen and (max-width:540px){

    .info-content, .info-content1{
        width: 100vw;
        border-radius: unset;
    }
    .info-content p{
        margin-left:30px;
        letter-spacing: 2px;
    }

    .info-content1 p{
        margin-left:30px;
        letter-spacing: 2px;
    }
    
}

@media screen and (max-width:540px){

    .info-content{
        width: 100vw;
    }
    .info-content p{
        margin-left:30px;
        letter-spacing: 2px;
    }

    .info-content1 p{
        margin-left:30px;
        letter-spacing: 2px;
    }
    
}

@media screen and (max-width:425px){

    .info-content{
        width: 100vw;
    }
    .info-content p{
        margin-left:0px;
        letter-spacing: 2px;
    }
    .info-content1 p{
        margin-left:0px;
        letter-spacing: 2px;
    }
    
}