@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');



body{
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.particles {
  position: fixed;
  z-index: -15;
  width: 100vw;
  height: 100vh;
}

.content{
  font-size: 30px;
}

.heading{
  font-size: 40px;
  font-weight: 700;
}

@media screen and (max-width:1024px){
  .heading{
      font-size: 35px;
  }

  .content {
      font-size:25px;
  }
}

@media screen and (max-width:768px){
  .heading{
      font-size: 30px;
  }

  .content {
      font-size:20px;
  }
}

@media screen and (max-width:425px){
  .heading{
      font-size: 25px;
      padding: 0 30px;
  }

  .content {
      font-size:15px;
      padding: 0 30px;
  }
}
